.date {
  flex: 1 0;
  font-size: 1.6rem;
  padding: 0 0.4rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #cad4e0;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 0;
  border-bottom: 1px solid #ddd;
}
