.time-cell {
  $timeCellHeight: 3rem;
  width: 100%;
  min-height: $timeCellHeight;
  max-height: $timeCellHeight;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.4rem;
  color: #536380;
  background-color: #fff;
  border-bottom: 1px solid #cad4e0;
  transition: all 0.15s ease;
  &:hover {
    background-color: #b4c0ce;
  }
  &.border-none {
    border: none;
  }
  &.background-transparent {
    background-color: transparent;
  }
}
