.header-label {
    width: 8.8rem;
    min-width: 8.8rem;
    max-width: 8.8rem;
    background-color: transparent;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}