.event {
  z-index: 2;
  font-size: 1.2rem;
  width: 100%;
  min-height: 0;
  max-height: 100%;
  background-color: #007399;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  border: 1px solid #006080;
  border-radius: 0.4rem;
  color: #fff;
  &-title {
    text-align: center;
    font-size: 1.4rem;
  }
}
