.day-cell {
  text-align: center;
  min-height: 2rem;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  transition: all 0.2s ease;
  //TODO: Can giai quyet
  // &:hover {
  //   background-color: #ccc;
  // }
}
