.calendar {
  width: 24rem * 7 + 8.8rem; // 8.8rem is for header label
  height: calc(100vh - 16.8rem);
  margin: auto;
  margin-top: calc(16.8rem / 2);
  background-color: bisque;
  display: flex;
  flex-direction: column;
  flex: 1 1;
}
